others/n8n-workflows/Agent Instant Send Email.json
{
  "name": "Agent Instant Send Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-send-email",
        "options": {
          "rawBody": false
        }
      },
      "id": "022f2d58-5977-4da3-a301-5bb647d36dc0",
      "name": "Agent Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "agent-send-email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email assistant. Your job is TWO parts:\n\n**PART 1 - SUMMARIZE:**\nRead the following email body and create a clean 5-point bullet summary:\n\nEmail Subject: {{ $json.body.subject }}\nEmail Body: {{ $json.body.htmlBody }}\n\n**PART 2 - OUTPUT FORMAT:**\nReturn a JSON object ONLY with this exact structure (no extra text):\n{\n  \"summary\": \"<ul><li>Point 1</li><li>Point 2</li><li>Point 3</li><li>Point 4</li><li>Point 5</li></ul>\",\n  \"toEmail\": \"{{ $json.body.toEmail }}\",\n  \"subject\": \"{{ $json.body.subject }}\",\n  \"originalBody\": \"{{ $json.body.htmlBody }}\"\n}",
        "options": {
          "systemMessage": "You are an expert email assistant. Always respond with valid JSON only. No markdown, no code blocks, just raw JSON."
        }
      },
      "id": "293cb334-2fc9-4e6f-99ce-ae911e6eda09",
      "name": "AI Summarizer Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        0
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        240
      ],
      "id": "8681e254-78f6-4385-bf26-74184dbe14b7",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "YrpWeoba54oEZExQ",
          "name": "Groq account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        352
      ],
      "id": "fb7b8f9f-b11c-4ece-bcf4-0fae06f55203",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nlet parsed;\ntry {\n  const clean = raw.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = {\n    summary: '<ul><li>Could not parse summary</li></ul>',\n    toEmail: $input.first().json.toEmail || '',\n    subject: $input.first().json.subject || '',\n    originalBody: $input.first().json.originalBody || ''\n  };\n}\nreturn [{ json: parsed }];"
      },
      "id": "ab75ec17-5fb9-496e-81d0-01c21a2720a5",
      "name": "Parse Agent JSON1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gmail node returns threadId after sending\n// Save it to static workflow memory so we can check the exact thread later\nconst staticData = $getWorkflowStaticData('global');\n\nconst threadId = $input.first().json.threadId;\nconst messageId = $input.first().json.id;\nconst toEmail = $('Parse Agent JSON1').item.json.toEmail;\nconst subject = $('Parse Agent JSON1').item.json.subject;\nconst originalBody = $('Parse Agent JSON1').item.json.originalBody;\n\n// Store in static memory\nstaticData['lastThread'] = {\n  threadId: threadId,\n  messageId: messageId,\n  toEmail: toEmail,\n  subject: subject,\n  originalBody: originalBody,\n  sentAt: new Date().toISOString()\n};\n\nconsole.log('✅ Saved threadId:', threadId);\n\nreturn [{ json: { threadId, messageId, toEmail, subject, originalBody } }];"
      },
      "id": "f50f3547-a60c-489e-a07d-f2322694a8fb",
      "name": "Save Thread ID1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "in:inbox -from:me"
        },
        "options": {}
      },
      "id": "f9a2ff35-26b6-4c22-accf-044b0f3f988f",
      "name": "Gmail Trigger (Watch Replies)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        1120,
        480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Check if this incoming email belongs to a thread we're tracking\nconst staticData = $getWorkflowStaticData('global');\nconst incomingThreadId = $input.first().json.threadId;\n\nconsole.log('📨 Incoming email threadId:', incomingThreadId);\nconsole.log('📦 Tracked threads:', staticData.threads ? Object.keys(staticData.threads) : 'none');\n\nif (!staticData.threads || !staticData.threads[incomingThreadId]) {\n  // Not our thread - ignore\n  return [{ json: { isTracked: false, threadId: incomingThreadId } }];\n}\n\nconst threadData = staticData.threads[incomingThreadId];\nconst replyBody = $input.first().json.text || $input.first().json.snippet || '';\nconst fromEmail = $input.first().json.from || '';\n\nreturn [{ json: {\n  isTracked: true,\n  threadId: incomingThreadId,\n  replyBody,\n  fromEmail,\n  originalSubject: threadData.subject,\n  originalBody: threadData.originalBody,\n  toEmail: threadData.toEmail\n}}];"
      },
      "id": "3dfe2b1d-6188-435a-87b6-b8632970c040",
      "name": "Is This Our Thread?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isTracked }}",
              "value2": true
            }
          ]
        }
      },
      "id": "52ecb24c-ce25-44e7-bde6-49e18f50821d",
      "name": "Tracked Thread?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1824,
        480
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a smart email assistant that replies to incoming emails.\n\nContext - Original email we sent:\nSubject: {{ $json.originalSubject }}\nBody: {{ $json.originalBody }}\n\nTheir Reply:\n{{ $json.replyBody }}\n\nWrite a helpful, professional reply to their message. Keep it concise and on-topic.\n\nReturn ONLY a JSON object:\n{\n  \"subject\": \"Re: {{ $json.originalSubject }}\",\n  \"body\": \"<the reply email in HTML format>\"\n}",
        "options": {
          "systemMessage": "You are an expert email assistant. Always respond with valid JSON only. No markdown, no code blocks, just raw JSON."
        }
      },
      "id": "dc2ed14c-2fff-44a1-8ade-fa94502dc6cc",
      "name": "AI Reply Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2144,
        448
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2144,
        688
      ],
      "id": "10d49c51-ac1f-405a-be6f-89c285bdb96b",
      "name": "Groq Model (Reply)",
      "credentials": {
        "groqApi": {
          "id": "YrpWeoba54oEZExQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nlet parsed;\ntry {\n  const clean = raw.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = {\n    subject: 'Re: ' + ($('Is This Our Thread?').item.json.originalSubject || 'Your email'),\n    body: '<p>Thank you for your reply! We will get back to you shortly.</p>'\n  };\n}\nreturn [{ json: {\n  ...parsed,\n  toEmail: $('Is This Our Thread?').item.json.fromEmail,\n  threadId: $('Is This Our Thread?').item.json.threadId\n}}];"
      },
      "id": "837ff7fc-2ef9-4f50-8f0c-7ed837af4485",
      "name": "Parse Reply JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        448
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "9be36db6-6879-453b-aba8-16dde98ac20a",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2880,
        448
      ],
      "webhookId": "a99b3528-1f8e-4dbb-85e7-e6ecc6f8ff56",
      "credentials": {
        "gmailOAuth2": {
          "id": "H9nrOf3A3V2EksEl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Agent Webhook1').item.json.body.toEmail }}",
        "subject": "={{ $('Agent Webhook1').item.json.body.subject }}",
        "message": "=={{ $('Agent Webhook1').item.json.body.htmlBody }}\n\n={{ $json.summary }}\n={{ $execution.id }}",
        "options": {}
      },
      "id": "b2a7d96d-61a9-4564-9ea3-c09f3da75991",
      "name": "Send Email with Summary1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "webhookId": "788b756d-05d9-4ac6-8deb-4c32cb3e162b",
      "credentials": {
        "gmailOAuth2": {
          "id": "H9nrOf3A3V2EksEl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "5b2107d7-20b4-4d6a-9818-599cdaf92356",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "zvm4c7Z3IStLP00t",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger (Watch Replies)": [
      {
        "json": {
          "id": "19ca07305972b044",
          "threadId": "19ca071d5417e5d2",
          "labelIds": [
            "UNREAD",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 9925,
          "headers": {
            "delivered-to": "Delivered-To: attellisanjaykumar29@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 5a478bee46e88-2bdd1f05b7esor1550424eec.15.2026.02.27.10.53.38\r\n        for <attellisanjaykumar29@gmail.com>\r\n        (Google Transport Security);\r\n        Fri, 27 Feb 2026 10:53:38 -0800 (PST)",
            "x-received": "X-Received: by 2002:a05:7022:a88:b0:11b:89f3:aaf8 with SMTP id\r\n a92af1059eb24-1278fc9957fmr1843952c88.4.1772218417021; Fri, 27 Feb 2026\r\n 10:53:37 -0800 (PST)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1772218417; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=NdLx06iFu6UhmxFMStdI48i6Hj6Z7UiKEbkQfFJTTRNd04NnwM8RTpM9w72zzzhTEK\r\n         TsWjBHjmF7sJ6YdoCTOwTcyOKyvR6c2uehHs3IXEja4nWUONl9g2haHHJE8Q4tYNRftP\r\n         eXBcI+1+7mEptn23IFWNZ6IyqbFbNrbL0/nGvr4Lnt0/x5gNAnWuUGgSxXEJY6xGOgX1\r\n         yo2e+w9JM+Z9JgLIt5kdznTeT4D9/Sh1mzqnQWDYWXDo5SjKm88WQ6NvjTbCAJaIQjxp\r\n         Zl3QLWWKALy1cwndhVIVb/Vhfnngp7JMuczP+1KC8jJ8FS9REfuzwXq0K3HT8S0txsMc\r\n         i0xA==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:in-reply-to:references:mime-version\r\n         :dkim-signature;\r\n        bh=V8cqBbBvYLK+8NhkNPUgg/UH78aFIb8m1MOv+t6ZamI=;\r\n        fh=M5JeO3G0qycDdBleYvzcI7oGtnSAaIr89dRbgW0EK2o=;\r\n        b=ZjgrOvMgmpFuQ19ethVFeyW/OQnJzaaNzK4RBIqCEK7fTicVpyrHk2aHKSgkudb9p2\r\n         +n8ntM+RVus/2+A4s325pY/+R3IxEoRmZRxWUxn9uvNtyOf4HZz0RCFQJ1TDAxe3FLYN\r\n         7bHwJ1/APnPjBnyXg0Cu3++mbkkIDuUgCVbMcCozXFBdGl3h8Tsw0Ca8vxVEi5Pq8LX0\r\n         2zJnCQZCjRKBa1evTQRO0W5k5GNsQOCbl59ExeHav+AnKszTqcV+EXNBuiYqLC/UEDuw\r\n         5h0Q2IxY3eyQD/zA/7Juic9nlTyA0iZqlwL8c+LOm+L3BaS5pj3QBNu3e+BwRcftWzo7\r\n         mApQ==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com; arc=none",
            "return-path": "Return-Path: <attellisanjay29@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of attellisanjay29@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=NPs9UDiE;\r\n       arc=pass (i=1);\r\n       spf=pass (google.com: domain of attellisanjay29@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=attellisanjay29@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1772218417; x=1772823217; dara=google.com;\r\n        h=to:subject:message-id:date:from:in-reply-to:references:mime-version\r\n         :from:to:cc:subject:date:message-id:reply-to;\r\n        bh=V8cqBbBvYLK+8NhkNPUgg/UH78aFIb8m1MOv+t6ZamI=;\r\n        b=NPs9UDiEEDOtEqlRsoA7bzDhnoZ7xFwlppogEitU0YhU5H49DvjolpYQ9KNHegZB2Z\r\n         poYmfT8rifnv+tkeb19/bAY1K6u5dfIyHLQwFd2w4UDQCuMr2vKyazD0ib5awkGo+oEb\r\n         HqdnH3zJAgeFOblE5YoHyzuDY4r9UoaAF4DZKFhHAfJf7tcecOSNDl1ZH7Uibx76hagO\r\n         76RuPHM+ivlsYrHG/s1kNDSIfcXuUgvEqwWpwhcQ7i899aiNRDP7X7q5fclP3NlTcUoD\r\n         rUERoNqUGPCl/Nms2cmnd8/crLd6qEfihik666ruVVeCtro7caCwJ+hOD9brql8WX/pj\r\n         P96Q==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1772218417; x=1772823217;\r\n        h=to:subject:message-id:date:from:in-reply-to:references:mime-version\r\n         :x-gm-gg:x-gm-message-state:from:to:cc:subject:date:message-id\r\n         :reply-to;\r\n        bh=V8cqBbBvYLK+8NhkNPUgg/UH78aFIb8m1MOv+t6ZamI=;\r\n        b=l1EQBOfg69oOdt5HFFmfMBhz2Fh4lclbjCTI+2rj8DzKXZ4GAaoS0yD/6E57c2eqPa\r\n         UCuou6JQF7DPRzxsCOsBE7c05UHSJD83FRe7RxsuMLyG2kfOJgPLCyw75naOqm4Nee7T\r\n         /nmJKbzA756eDB5s2Awx56TJrz0j2fTZ1Sq/yTh5hMwTmbNAI22q6y73sSLJSf+v07Kx\r\n         Xb8X/mDGSq0cc/JbA7qWuba5jW3Vd+O9lhrg/fRDp6731RWv+7EXR3FClO3zIgxfiZaV\r\n         /2qE9Ym+xpHZETAo0qoCMleQ6TUpsc5zzn1Oaw3DNliwykPczhC5lxw9SjRHMBJg6Y2R\r\n         2YPA==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YymSpExio9hENoN8ugUJ3jNOvyEiUzD2RtLCkLVDh/zm+/hN+sH\r\n\tkUodHKPn7Ao0YHi3fEvidcthvsbHweCSGmwSjTIOJ8pIuN/pnXvLxq7khi14nKzbC/QoUqE8T+v\r\n\tcbV3lPBRmgBDtINF/jVXzb65CZI7eumJhbA==",
            "x-gm-gg": "X-Gm-Gg: ATEYQzxuWIqVwC/oSyDw+6LsbOgLB5xl1hy7SKJO4NHt5qv41m1+uuagTqBsJV/N3C3\r\n\tEAj+UPMPEp0htonjPtdZxBstO8ki/0S0tlgednwRe+MyfT1P8Rh9dweP6CwNGshTSoe3kXY5rUZ\r\n\tCwwargutGjhdWxbR6oZCV0Pw/wbbe0tF2EDeglxw4XMMx5tQo82lW6Y/WsGzEKmZNa/Qj14E2BA\r\n\tzy7ePur70KsxXIlS/Zf0b6QBMYV/BkqbQ5LhYV/aQWUp+Z+sFMka76yGbtiJHKnHNoQtM0ZgQVR\r\n\tNy/GxPAxsx0xvtcuBRtGJ93Rc1vP/OcyT7A2NooBL6J59kUEznzauTdsxfhds+NAJl5DC6/7i7H\r\n\tZgWkNE4HbdQ==",
            "mime-version": "MIME-Version: 1.0",
            "references": "References: <CAF0k+M9DHMJVanta25Ci+pDkdquXDLfG4PmZSWVNhduziXYx3w@mail.gmail.com>",
            "in-reply-to": "In-Reply-To: <CAF0k+M9DHMJVanta25Ci+pDkdquXDLfG4PmZSWVNhduziXYx3w@mail.gmail.com>",
            "from": "From: Attelli Sanjay <attellisanjay29@gmail.com>",
            "date": "Date: Sat, 28 Feb 2026 00:23:24 +0530",
            "x-gm-features": "X-Gm-Features: AaiRm51oQIhvLBg5UMPtiq4BheV-XDAhDSxg_drIN0jbRj2d-4h0flR0xioIWAU",
            "message-id": "Message-ID: <CANPfgnYJascc4nuz0--hnnZKhv_LR=yZLH+gjgydaHcuGBcGVQ@mail.gmail.com>",
            "subject": "Subject: Re: Project Update",
            "to": "To: attellisanjaykumar29@gmail.com",
            "content-type": "Content-Type: multipart/alternative; boundary=\"00000000000036073c064bd2c18e\""
          },
          "html": "<div dir=\"ltr\"><div>Hi [Recipient Name],</div><div><br></div><div>Thank you for the update. Could you please provide more details regarding the project? I would like to better understand the specific updates or next steps involved.</div><div><br></div><div>Best regards,</div><div><br></div><div>Attelli Sanjay</div><br></div><div hspace=\"streak-pt-mark\" style=\"max-height:1px\"><img alt=\"\" style=\"width:0px;max-height:0px;overflow:hidden\" src=\"https://mailfoogae.appspot.com/t?sender=aYXR0ZWxsaXNhbmpheTI5QGdtYWlsLmNvbQ%3D%3D&amp;type=zerocontent&amp;guid=2a263a99-4509-45e1-b965-2d5875c01f04\"><font color=\"#ffffff\" size=\"1\">ᐧ</font></div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Sat, 28 Feb 2026 at 00:22, &lt;<a href=\"mailto:attellisanjaykumar29@gmail.com\">attellisanjaykumar29@gmail.com</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div style=\"font-family:Arial,sans-serif\">\n  <h2>📧 Project Update</h2>\n  <h3>📋 AI Summary (5 Key Points)</h3>\n  <ul><li>Greeting addressed to Sanjay.</li><li>Mentions that the email uses thread tracking.</li><li>States that AI will only follow up on this exact thread.</li><li>No additional details or updates are provided in the body.</li><li>The message is concise and contains only a heading and a paragraph.</li></ul>\n  <hr>\n  <h3>📄 Full Message</h3>\n  <h2>Hello Sanjay</h2><p>This email uses thread tracking. AI will only follow up on this exact thread.</p>\n</div>\n</blockquote></div>\n",
          "text": "Hi [Recipient Name],\n\nThank you for the update. Could you please provide more details regarding\nthe project? I would like to better understand the specific updates or next\nsteps involved.\n\nBest regards,\n\nAttelli Sanjay\n\nᐧ\n\nOn Sat, 28 Feb 2026 at 00:22, <attellisanjaykumar29@gmail.com> wrote:\n\n> 📧 Project Update 📋 AI Summary (5 Key Points)\n>\n>    - Greeting addressed to Sanjay.\n>    - Mentions that the email uses thread tracking.\n>    - States that AI will only follow up on this exact thread.\n>    - No additional details or updates are provided in the body.\n>    - The message is concise and contains only a heading and a paragraph.\n>\n> ------------------------------\n> 📄 Full Message Hello Sanjay\n>\n> This email uses thread tracking. AI will only follow up on this exact\n> thread.\n>\n",
          "textAsHtml": "<p>Hi [Recipient Name],</p><p>Thank you for the update. Could you please provide more details regarding<br/>the project? I would like to better understand the specific updates or next<br/>steps involved.</p><p>Best regards,</p><p>Attelli Sanjay</p><p>&#x1427;</p><p>On Sat, 28 Feb 2026 at 00:22, &lt;<a href=\"mailto:attellisanjaykumar29@gmail.com\">attellisanjaykumar29@gmail.com</a>&gt; wrote:</p><p>&gt; &#x1F4E7; Project Update &#x1F4CB; AI Summary (5 Key Points)<br/>&gt;<br/>&gt;    - Greeting addressed to Sanjay.<br/>&gt;    - Mentions that the email uses thread tracking.<br/>&gt;    - States that AI will only follow up on this exact thread.<br/>&gt;    - No additional details or updates are provided in the body.<br/>&gt;    - The message is concise and contains only a heading and a paragraph.<br/>&gt;<br/>&gt; ------------------------------<br/>&gt; &#x1F4C4; Full Message Hello Sanjay<br/>&gt;<br/>&gt; This email uses thread tracking. AI will only follow up on this exact<br/>&gt; thread.<br/>&gt;</p>",
          "subject": "Re: Project Update",
          "references": "<CAF0k+M9DHMJVanta25Ci+pDkdquXDLfG4PmZSWVNhduziXYx3w@mail.gmail.com>",
          "date": "2026-02-27T18:53:24.000Z",
          "to": {
            "value": [
              {
                "address": "attellisanjaykumar29@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:attellisanjaykumar29@gmail.com\" class=\"mp_address_email\">attellisanjaykumar29@gmail.com</a></span>",
            "text": "attellisanjaykumar29@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "attellisanjay29@gmail.com",
                "name": "Attelli Sanjay"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Attelli Sanjay</span> &lt;<a href=\"mailto:attellisanjay29@gmail.com\" class=\"mp_address_email\">attellisanjay29@gmail.com</a>&gt;</span>",
            "text": "\"Attelli Sanjay\" <attellisanjay29@gmail.com>"
          },
          "messageId": "<CANPfgnYJascc4nuz0--hnnZKhv_LR=yZLH+gjgydaHcuGBcGVQ@mail.gmail.com>",
          "inReplyTo": "<CAF0k+M9DHMJVanta25Ci+pDkdquXDLfG4PmZSWVNhduziXYx3w@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Agent Webhook1": {
      "main": [
        [
          {
            "node": "AI Summarizer Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarizer Agent1": {
      "main": [
        [
          {
            "node": "Parse Agent JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Summarizer Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent JSON1": {
      "main": [
        [
          {
            "node": "Send Email with Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger (Watch Replies)": {
      "main": [
        [
          {
            "node": "Is This Our Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is This Our Thread?": {
      "main": [
        [
          {
            "node": "Tracked Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tracked Thread?": {
      "main": [
        [
          {
            "node": "AI Reply Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Reply Agent": {
      "main": [
        [
          {
            "node": "Parse Reply JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model (Reply)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Reply Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reply JSON": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email with Summary1": {
      "main": [
        [
          {
            "node": "Save Thread ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarizer Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cb8ee366-417d-4331-a194-0f45a6cc5fd3",
  "meta": {
    "instanceId": "7d30b44a5cc750a1c2802fd3816c4cfae1f49222f1f21f580bda168d8442502f"
  },
  "id": "jzGtFeHMYs10p67z",
  "tags": []
}