others/n8n-workflows/Forget Password OTP.json
{
  "name": "Forget Password OTP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forget-send-otp",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9827f8a3-fb09-4858-8afa-b4f08dce8319",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -384,
        -80
      ],
      "webhookId": "c3060f8a-f2bb-43c6-98e5-41de8010edae"
    },
    {
      "parameters": {
        "functionCode": "const body = items[0].json.body;\nconst otp = Math.floor(100000 + Math.random() * 900000).toString();\n\nreturn [{\n  json: {\n    email: body.email,\n    name: body.name,\n    otp: otp,\n    expiry: new Date(Date.now() + 5 * 60 * 1000).toISOString()\n  }\n}];"
      },
      "id": "f4c09384-9501-4144-bde5-33ad195a55e1",
      "name": "Generate OTP",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -128,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Your Forget Password OTP for AcciSure Verification",
        "message": "=Hello {{ $json.name }},\n\nYour OTP is: {{ $json.otp }}\n\nIt will expire in 5 minutes.\n\nThanks,\nAcciSure Team",
        "toList": [
          "={{ $json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "d2e4817e-cdb6-4b64-bdba-a8e15fef663b",
      "name": "Send OTP Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "H9nrOf3A3V2EksEl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', email: $('Generate OTP').first().json.email, otp: $('Generate OTP').first().json.otp, expiry: $('Generate OTP').first().json.expiry }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "eb9cbe68-4afb-4f5b-beaf-2d8e0c329b6d",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        368,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OTP": {
      "main": [
        [
          {
            "node": "Send OTP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP Email": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "743c51d9-b06c-4003-8932-c025a6c41fa3",
  "meta": {
    "instanceId": "7d30b44a5cc750a1c2802fd3816c4cfae1f49222f1f21f580bda168d8442502f"
  },
  "id": "BCPcunf3NhVHfRmF",
  "tags": []
}