others/n8n-workflows/policy summariser.json
{
  "name": "policy summariser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-agent-1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "47b4def8-b80b-49ec-b6bc-a20dbe95a4b7",
      "name": "Webhook",
      "webhookId": "4dc9b512-17f6-48fb-ade7-4b5f21791352"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a friendly and professional insurance assistant.\n\nCustomer Details:\nCustomer ID: {{ $json.body.customer.id }}\nCustomer Name: {{ $json.body.customer.name }}\nCustomer Email: {{ $json.body.customer.email }}\nCustomer Phone: {{ $json.body.customer.phone }}\n\nPolicy Details:\nPolicy ID: {{ $json.body.policy.policyId }}\nPolicy Name: {{ $json.body.policy.policyName }}\nCategory: {{ $json.body.policy.category }}\nCoverage Amount: {{ $json.body.policy.coverageAmount }}\nPremium: {{ $json.body.policy.premium }}\n\nPolicy Benefits:\n1. {{ $json.body.policy.benefits[0] }}\n2. {{ $json.body.policy.benefits[1] }}\n3. {{ $json.body.policy.benefits[2] }}\n\nCustomer Question:\n{{ $json.body.question }}\n\nInstructions:\n- Carefully understand the customer’s question.\n- Respond in a warm, simple, and customer-friendly tone.\n- Use short line sentences max 10 words (not long paragraphs).\n- Only include relevant details based on the question strict to question dont tell all things just answer what asked \n- Clearly explain benefits when asked.\n- If the customer is unsure about buying, gently highlight value and protection.\n- Encourage purchase naturally without sounding pushy.\n- Do NOT list raw IDs, email, or phone unless specifically asked.\n- Do NOT repeat unnecessary technical data.\n- Keep the response clean and well formatted.\n- End with a helpful closing line like:\n  “Let me know if you’d like help purchasing this policy.”\n- dont use $ symbol only ₹ ok for amount things any thing ok and in words format like lakhs, thousand not like 5000 send like 5 thoush please \nNow generate the best possible response for the customer.\n\nu need ans like conversation based like for eexample if user asked\nque: explain about this \nagent: direct ans like\n\nFirst of all thank u so much for asking like this \n\n(no need\n{Here’s a warm and concise response for Swapna: Why buy this policy? })\n\ndirect answer ok \nand important user may ask please write python code or else any thing u need to reply sorry i am not trianed to answer please only ask related to policy thins like this u tell ok \ni dont need like\nGot it! Here’s a clean, direct response to the customer’s question: \ndirect tell so for the policy like this is enough",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "04524477-c740-466e-82ba-ca28e347bbe6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"answer\": $json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        608,
        0
      ],
      "id": "c9a07567-3a6a-4f6a-b49d-2b3933e61724",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17N36HbxNreJTCqYQLTEppuXo84FWI5LKeN96wwtZz4E",
          "mode": "list",
          "cachedResultName": "Q & A",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17N36HbxNreJTCqYQLTEppuXo84FWI5LKeN96wwtZz4E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17N36HbxNreJTCqYQLTEppuXo84FWI5LKeN96wwtZz4E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Question": "={{ $('Webhook').item.json.body.question }}",
            "Answer": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        0
      ],
      "id": "f4d236a3-3f32-4fd9-8b75-5a1eb098f972",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zvF2wYFhJvbBlyxn",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5352707272",
        "text": "={{ $('Webhook').item.json.body.question }}:{{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        0
      ],
      "id": "71a0039e-0f2a-4ee4-868f-27f22c7fa421",
      "name": "Send a text message",
      "webhookId": "3323c36f-8997-404e-b921-32d07a1c78e0",
      "credentials": {
        "telegramApi": {
          "id": "FLoosFOKzTAp9pyk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "id": "56e27b13-552d-4d0e-b478-c8813704714f",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "zvm4c7Z3IStLP00t",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body }},{{ $json.body.question }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        256
      ],
      "id": "bf2a3c08-c88a-4357-8544-f1800c8748be",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "deed6b95-39c9-4ff6-8087-2723990bf312",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d30b44a5cc750a1c2802fd3816c4cfae1f49222f1f21f580bda168d8442502f"
  },
  "id": "29iImAlnqBWc3zLT",
  "tags": []
}